<html>
<h1>Registration for Entry Test Summer Semester 2014</h1>
<p>Select time slot</p>
<p>
<select id = "timeSlotList">
<option value = "1">12:00-13:00</option>
<option value = "2">13:00-14:00</option>
<option value = "3">14:00-15:00</option>
</select>
</p>
<table>
<tr>
  <th>Date</th>
  <th>Address</th>		
  <th>Location</th>
  <th>Selection</th>
  </tr>
<tr>
<tr>
  <td style="padding-right:10px;">14.04.2014</td>
  <td style="padding-right:10px;">IT College</td>		
  <td style="padding-right:10px;">401</td>
  <td style="padding-right:10px;"><input type="checkbox" name="loc1Selection" value="loc1"></td>
  </tr>
<tr>
  <td style="padding-right:10px;">16.04.2014</td>
  <td style="padding-right:10px;">IT College</td>		
  <td style="padding-right:10px;">417</td>
  <td style="padding-right:10px;"><input type="checkbox" name="loc2Selection" value="loc2"></td>
</tr>
</table>
<input type="submit" value="Next" />
</html>
